<script src="../lib/jquery-3.4.1.min.js"></script>
<script src="../lib/popper.min.js"></script>
<script src="../lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../lib/parallax.min.js"></script>
<script src="../lib/waves.min.js"></script>
<script src="../lib/three.js"></script>
<script src="../customThree.min.js"></script>
<script src="../main.min.js"></script>
<script src="//localhost:35729/livereload.js"></script>
