<!-- <button class="back-to-top" type="button"></button>
<footer class="footer">
    <div class="container-fluid">
        <div class="row footer-white">
            <div class="d-none d-lg-block col-lg-1"></div>
            <div class="col-sm-4 col-md-3">
                <div class="mb-3 img-logo">
                    <div class="logo-wrapper">
                        <img src="" class="img-fluid" />
                    </div>
                </div>
                <p class="footer-text">
                    <a href="#" class="text-white">Site Map</a>
                    <br /><a href="#" class="text-white">Related Links</a>
                    <br /><a href="#" class="text-white">HIPAA Privacy Policy</a>
                    <br /><a href="#" class="text-white">Contact</a>
                    <br /><a href="#" class="text-white" target="_blank"> <i class="fab fa-facebook-square"></i></a>
                </p>
            </div>
            <div class="col-sm-8 col-md-4 col-lg-3">
                <p class="footer-text">
                    lorem <br /> lorem<br /><br />
                    111 5th Avenue<br />New York, NY 10028<br />
                    Phone: <a href="tel:">555.555.5555</a><br />
                    <br />
                    111 10th Avenue<br />City, NY 10604<br />
                    Phone: <a href="tel:">555.555.5555</a>
                </p>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-4">
                <p>
                    <strong>MAILING LIST</strong>
                    <hr />
                </p>
                <p class="footer-text">
                    Be informed of the latest innovations in cosmetic skin and body procedures. </p>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="email" class="form-control my-2" name="email" placeholder="Email">
                    </div>
                    <div class="m-2">
                        <button href="" class="btn btn-primary display-4" type="submit" role="button">Join</button>
                    </div>
                </form>
                <p class="mb-4">
                    <small>Your e-mail address will NOT be shared with third parties. <br />You may unsubscribe at any time.</small><br />
                </p>
            </div>
        </div>
        <div class="col-sm-12">
            <hr />
        </div>
        <div class="row footer-white">
            <div class="d-none d-lg-block col-lg-1"></div>
            <div class="col-sm-11">
                <p class="footer-text copyright">
                    Copyright © 2019 Company Name - All rights reserved<br />
                </p>
            </div>
        </div>
        <div class="d-none d-lg-block col-lg-1"></div>
    </div>
</footer>
 -->
