////////////////////////////////// FOOTER  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\


footer {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: black;
    background-image: linear-gradient(to bottom right, #3b5576, #2e2e2e);
    word-wrap: break-word;
    box-shadow: 0px -10px 16px rgba(50, 50, 50, 0.5);


    .copyright {
        font-size: 14px;

        @include media-breakpoint-up(md) {
            font-size: 1rem;
        }
    }

    i {
        font-size: 30px;
        margin-top: 5px;
    }

    .footer-white {
        color: #ffffff;
    }

    a,
    a:hover {
        color: #149dcc;
        text-decoration: none;
    }

    a:hover {
        color: #b3b3b3 !important;

    }

    a {
        font-style: normal;
        font-weight: 400;
        cursor: pointer;
        color: $pink;
    }

    .footer-text {
        font-style: normal;
        line-height: 1.6;
    }

    .mx-2 {
        margin-right: 0px !important;
    }

    hr {
        height: 0px !important;
        background: none !important;
        color: transparent !important;
    }
}
