<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Bootstrap 4 meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- for  IE9 or IE8 compatibility -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles.min.css">
</head>

<body>
    <!-- <div class="flex-wrapper"> -->
        <header>
            {% block nav %}
            {% include "partials/nav.njk" %}
            {% endblock %}
        </header>
        <div class="container-fluid">
            <!-- page content BEGIN -->
            {% block main %}
            {% endblock %}
            <!-- page content END -->
        </div>
        <!-- Footer BEGIN -->
        {% block footer %}
        {% include "partials/footer.njk" %}
        {% endblock %}
        <!-- FOOTER END -->
        {% block footer_scripts %}
        {% include "partials/footer-scripts.njk" %}
        {% endblock %}
    <!-- </div> -->
</body>

</html>
